* {
    /*O asterísco simboliza que 
    se aplica a todo o CSS*/
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #03071F;
    /*Cor do fundo da caixa*/
    color: #FFFFFF;
    /*Cor geral, no caso usado nas letras*/
    display: flex;
    /*display muda o jeito que as coisas estão 
    organizadas, e flex faz com que o elemento 
    não ocupe a linha toda, só o seu espaço.*/
    justify-content: space-around;
    /*justify-content mostra como o conteúdo está dividido 
    na linha, "space-around" faz com que tenha espaço igual 
    em volta de cada elemento*/
    padding: 24px 0;
    /*Espaçamento interno*/
    font-size: 24px;
    /*Tamanho da fonte do cabeçalho*/
}

.cabecalhoImagem{
    /*Quando a gente fala de uma classe, ela precisa ficar 
    com um ponto na frente quando aparece no CSS.*/
    width: 5%;
    height: 100px;
}

.cabecalhoListaItem{
    display: inline-block;
    /*O "inline-block" diz que o elemento só ocupa o espaço necessário*/
    margin: 0 16px;
    /*margin é o espaçamento externo*/
    padding: 24px 0;
    /*padding é o espaçamento interno*/ 
}

.sobre{
    background-image: linear-gradient(#03071F, #116585);
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    /*Centraliza o conteúdo no meio (eixo x)*/
    align-items: center;
    /*Centraliza o conteúdo no meio (eixo y)*/
    padding: 24px 0;
}

.sobreConteudo{
    width: 35%;
    /*Largura  da caixa de texto "sobre"*/
}

.sobreTitulo{
    padding: 24px 0;
}

.sobreImagem{
    width: 25%;
}

/*Lembre de deixar as coisas no CSS na mesma ordem em que ficam 
no HTML. Isso faz com que seja mais fácil se organizar*/